singularity {

  enabled = true
  autoMounts = true
  cacheDir = 'work/00-containers'

}

process {

  executor = 'slurm'

  withName: 'align_reads' {
    clusterOptions = '--account=nn10082k --partition=a100 --gpus=1 --job-name=align_reads'
    container = 'nvcr.io/nvidia/clara/clara-parabricks:4.5.0-1'
    containerOptions = '--nv'
    cpus = 1
    time = '06:00:00'
  }
  
  withName: 'calc_coverage' {
    clusterOptions = '--account=nn10082k --job-name=calc_coverage'
    container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1'
    cpus = 2
    memory = '2 GB'
    time = '01:00:00'
  }

}
