singularity {

  enabled = true
  autoMounts = true
  cacheDir = 'work/00-containers'

}

process {

  executor='slurm'

  withName: 'define_windows' {
    clusterOptions = '--account=nn10082k --job-name=def_windows'
    container = 'quay.io/biocontainers/bedtools:2.30.0--h468198e_3'
    cpus = 1
    memory = '256 MB'
    time = '00:05:00'
  }

  withName: 'genotype_windows' {
    clusterOptions = '--account=nn10082k --job-name=geno_windows'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 4
    time = '06:00:00'
  }

  withName: 'concatenate_windows' {
    clusterOptions = '--account=nn10082k --job-name=cat_windows'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 2
    memory = '1 GB'
    time = '02:00:00'
  }

  withName: 'normalise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=normalise'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 2
    memory = '1 GB'
    time = '06:00:00'
  }

  withName: 'reheader_vcf' {
    clusterOptions = '--account=nn10082k --job-name=reheader'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 2
    memory = '1 GB'
    time = '01:00:00'
  }

  withName: 'summarise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=summarise'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 2
    memory = '1 GB'
    time = '02:00:00'
  }
  
  withName: 'concatenate_vchks' {
    clusterOptions = '--account=nn10082k --job-name=cat_vchk'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 1
    memory = '1 GB'
    time = '01:00:00'
  }

  withName: 'concatenate_vcfs' {
    clusterOptions = '--account=nn10082k --job-name=cat_vcf'
    container = 'quay.io/biocontainers/bcftools:1.17--h3cc50cf_1'
    cpus = 2
    memory = '1 GB'
    time = '02:00:00'
  }

}
