process {

  executor='slurm'

  withName: 'prepare_genome_windows' {
    clusterOptions = '--account=nn10082k --job-name=prep_windows'
    cpus = 8
    memory = '20 GB'
    time = '24:00:00'
  }

  withName: 'genotype_windows' {
    clusterOptions = '--account=nn10082k --job-name=geno_windows'
    cpus = 8
    memory = '20 GB'
    time = '24:00:00'
  }

  withName: 'concatenate_windows' {
    clusterOptions = '--account=nn10082k --job-name=cat_windows'
    cpus = 8
    memory = '12 GB'
    time = '02:00:00'
  }

  withName: 'normalise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=normalise'
    cpus = 8
    memory = '12 GB'
    time = '06:00:00'
  }

  withName: 'reheader_vcf' {
    clusterOptions = '--account=nn10082k --job-name=reheader'
    cpus = 4
    memory = '10 GB'
    time = '12:00:00'
  }

  withName: 'summarise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=summarise'
    cpus = 4
    memory = '10 GB'
    time = '12:00:00'
  }
  
  withName: 'concatenate_all' {
    clusterOptions = '--account=nn10082k --job-name=cat_all'
    cpus = 8
    memory = '12 GB'
    time = '02:00:00'
  }

}
