process {

  executor='slurm'

  withName: 'genotyping' {
    clusterOptions = '--account=nn10082k --job-name=geno'
    cpus = 8
    memory = '20 GB'
    time = '24:00:00'
  }

  withName: 'vcf_concat' {
    clusterOptions = '--account=nn10082k --job-name=concat'
    cpus = 8
    memory = '10 GB'
    time = '24:00:00'
  }

  withName: 'vcf_normalise' {
    clusterOptions = '--account=nn10082k --job-name=norm'
    cpus = 8
    memory = '10 GB'
    time = '24:00:00'
  }

  withName: 'vcf_reheader' {
    clusterOptions = '--account=nn10082k --job-name=reheader'
    cpus = 4
    memory = '10 GB'
    time = '12:00:00'
  }
  
  withName: 'rm_spanning_indels' {
    clusterOptions = '--account=nn10082k --job-name=rm_spanning_indels'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

}
