process {

  executor='slurm'

  withName: 'combine_vcf' {
    clusterOptions = '--account=nn10082k --job-name=combine_vcf'
    cpus = 8
    memory = '12 GB'
    time = '02:00:00'
  }

  withName: 'renormalise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=renormalise_vcf'
    cpus = 8
    memory = '12 GB'
    time = '02:00:00'
  }

}
