process {

  executor='slurm'

  withName: 'vcf_filter_pop_structure' {
    clusterOptions = '--account=nn10082k --job-name=filter_ps'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'vcf_filter_genome_scan' {
    clusterOptions = '--account=nn10082k --job-name=filter_gs'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'downsample_vcf' {
    clusterOptions = '--account=nn10082k --job-name=vcf_downsample'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'get_vcf_stats' {
    clusterOptions = '--account=nn10082k --job-name=vcf_stats'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'plot_vcf_stats' {
    clusterOptions = '--account=nn10082k --job-name=vcf_plot'
    cpus = 1
    memory = '4 GB'
    time = '01:00:00'
  }
  
}
