process {

  executor='slurm'

  withName: 'filter_vcf' {
    clusterOptions = '--account=nn10082k --job-name=filter'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'summarise_vcf' {
    clusterOptions = '--account=nn10082k --job-name=summarise'
    cpus = 4
    memory = '10 GB'
    time = '12:00:00'
  }
  
  withName: 'concatenate_vchks' {
    clusterOptions = '--account=nn10082k --job-name=cat_vchk'
    cpus = 1
    memory = '2 GB'
    time = '01:00:00'
  }

  withName: 'concatenate_vcfs' {
    clusterOptions = '--account=nn10082k --job-name=cat_vcf'
    cpus = 8
    memory = '12 GB'
    time = '02:00:00'
  }
  
  withName: 'save_filters_to_file' {
    clusterOptions = '--account=nn10082k --job-name=save_filters'
    cpus = 1
    memory = '256 MB'
    time = '00:05:00'
  }

}
