singularity {

  enabled = true
  autoMounts = true
  cacheDir = 'work/00-containers'

}

process {

  executor = 'slurm'

  withName: 'parse_sample' {
    clusterOptions = '--account=nn10082k --job-name=parse_sample'
    cpus = 1
    memory = '256 MB'
    time = '00:10:00'
  }

  withName: 'trim' {
    clusterOptions = '--account=nn10082k --job-name=trim'
    container = 'quay.io/biocontainers/fastp:0.24.0--heae3180_1'
    cpus = 4
    memory = '4 GB'
    time = '08:00:00'
  }

}
