singularity {

  enabled = true
  autoMounts = true
  cacheDir = 'work/00-containers'

}

process {

  executor = 'slurm'

  withName: 'run_multiqc' {
    clusterOptions = '--account=nn10082k --job-name=multiqc'
    container = 'quay.io/biocontainers/multiqc:1.28--pyhdfd78af_0'
    cpus = 1
    memory = '1 GB'
    time = '00:30:00'
  }

}
