profiles {

  saga {

    process {

      executor = "slurm"

      clusterOptions = "--account=nn10082k"
      queue = "normal"

      withLabel: "require_gpu" {
        clusterOptions = "--account=nn10082k --gpus=4"
        queue = "a100"
        cpus = 32
      }

    }

    singularity {

      enabled = true
      autoMounts = true
      cacheDir = "work/containers"

    }

  }

}
