process.executor = "slurm"
executor.queueSize = 250
process.clusterOptions = "--account=nn10082k"
singularity.enabled = true
singularity.autoMounts = true
singularity.cacheDir = "work/containers"
report.overwrite = true

process {

  withLabel: "require_gpu" {
    clusterOptions = "--account=nn10082k --gpus=1"
    queue = "a100"
    cpus = 8
  }

  withLabel: "high_mem_per_cpu" {
    queue = "bigmem"
  }
  
}
