process {

  executor='slurm'

  withName: 'rm_indels' {
    clusterOptions = '--account=nn10082k --job-name=rm_indel'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }

  withName: 'vcf_filter' {
    clusterOptions = '--account=nn10082k --job-name=filter'
    cpus = 4
    memory = '12 GB'
    time = '12:00:00'
  }
  
}
