process {

  executor='slurm'

  withName: 'trimming' {
    clusterOptions = '--account=nn10082k --job-name=trim'
    cpus = 4
    memory = '4 GB'
    time = '08:00:00'
  }

  withName: 'align' {
    clusterOptions = '--account=nn10082k --job-name=align'
    cpus = 16
    memory = '16 GB'
    time = '08:00:00'
  }

  withName: 'merge_sort' {
    clusterOptions = '--account=nn10082k --job-name=merge_sort'
    cpus = 8
    memory = '16 GB'
    time = '08:00:00'
  }

  withName: 'mark_dup' {
    clusterOptions = '--account=nn10082k --job-name=mark_dup'
    cpus = 1
    memory = '24 GB'
    time = '08:00:00'
  }

  withName: 'cram_convert' {
    clusterOptions = '--account=nn10082k --job-name=cram_convert'
    cpus = 4
    memory = '2 GB'
    time = '01:00:00'
  }

  withName: 'calc_stats' {
    clusterOptions = '--account=nn10082k --job-name=calc_stats'
    cpus = 2
    memory = '2 GB'
    time = '01:00:00'
  }

}
